<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UrlShortener</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ratelimit.css" />
</head>

<script src="~/js/ratelimit.js"></script>

<body class="d-flex flex-column min-vh-100">

    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm">
            <div class="container">

                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-link-45deg"></i> UrlShortener
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">

                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-house"></i> Home
                            </a>
                        </li>

                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UrlShortener" asp-action="Index">
                                    <i class="bi bi-list"></i> My Links
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UrlShortener" asp-action="Create">
                                    <i class="bi bi-plus-circle"></i> Create
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">
                                <i class="bi bi-shield-check"></i> Privacy
                            </a>
                        </li>

                    </ul>

                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>


    <main class="container my-4 flex-grow-1">
        @RenderBody()
    </main>


    <footer class="bg-dark text-white mt-auto pt-4 pb-3">

        <div class="container">

            <div class="row text-center text-md-start">

                <div class="col-md-4 mb-3">
                    <h5>
                        <i class="bi bi-link-45deg"></i> UrlShortener
                    </h5>
                    <p class="small">
                        Shorten, track, and manage your URLs with ease.
                    </p>
                </div>


                <div class="col-md-4 mb-3">
                    <h6>Quick Links</h6>

                    <ul class="list-unstyled">

                        <li>
                            <a class="text-white text-decoration-none"
                                   asp-controller="Home"
                                   asp-action="Index">
                                Home
                            </a>
                        </li>

                        <li>
                            <a class="text-white text-decoration-none"
                                   asp-controller="Home"
                                   asp-action="Privacy">
                                Privacy
                            </a>
                        </li>

                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li>
                                <a class="text-white text-decoration-none"
                                       asp-controller="UrlShortener"
                                       asp-action="Index">
                                    My Links
                                </a>
                            </li>
                        }

                    </ul>
                </div>


                <div class="col-md-4 mb-3">
                    <h6>Connect With Us</h6>

                    <a href="https://github.com" target="_blank" class="text-white me-3">
                        <i class="bi bi-github fs-4"></i>
                    </a>

                    <a href="https://twitter.com" target="_blank" class="text-white me-3">
                        <i class="bi bi-twitter fs-4"></i>
                    </a>

                    <a href="https://linkedin.com" target="_blank" class="text-white">
                        <i class="bi bi-linkedin fs-4"></i>
                    </a>

                </div>

            </div>

            <hr />

            <div class="text-center small">
                © 2026 UrlShortener. All rights reserved.
            </div>

        </div>

    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @* spiner *@
    @* <div id="loadingSpinner" class="loading-overlay">
        <div class="spinner"></div>
    </div> *@

</body>
</html>